pip
setuptools
wheel
python=3.8.8

#r-packages
r-data.table
r-tidyverse
r-readxl
r-purrr
r-readr
r-scales
r-jsonlite
r-ggplot2
r-cowplot
r-pheatmap
r-viridislite
r-ggseqlogo
r-bio3d
r-nglviewer
r-htmlwidgets
r-htmltools
r-biocmanager
bioconductor-msa
bioconductor-biostrings
bioconductor-pwalign

#discotope3
pyg pyg -y
conda-forge pip -y

#epigraph
conda-forge dssp
